/* #dummy{
    height: 300px;
    width: 300px;
    border: 1px solid black;
} */

/* #dummy2{
    height: 30vh;
    width: 30vw;
    border: 1px solid black;
} */
/* #dummy3{
    height: 30%;
    width: 30%;
    border: 1px solid black;
}

body{
    height: 100vh;
} */
/* 
#parent{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

#chotu{
    height: 50%;
    width: 50%;
    border: 1px solid black;
} */