*{
    margin: 0px;
    padding: 0px;
}


#navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.icon{
    color:  white;
}