/* section{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div{
    height: 100px;
    width: 100px;
    border: 1px solid blue;
} */


section{
    display: grid;
    border: 1px solid purple;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#special{
    background-color: gold;
    grid-column-start: 2;
}