.box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
}

#static{
    position: static;
    top: 100px;
    left: 100px;
}

#relative{
    position: relative;
    bottom: 50px;
    right: 50px;
}

#absolute{
    position: absolute;
    left: 200px;
    bottom: 100px;
}

#fixed{
    position: fixed;
    top: 200px;
    right: 200px;
}

#sticky{
    position: sticky;
    top: 100px;
}