*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1f1f1f;
}


#calculator{
    margin: auto;
    /* border: 1px solid white; */
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#display{
    flex-grow: 1;
    background-color: #1f1f1f;
    border: none;
    outline: none;
    color: white;
    font-size: 50px;
    text-align: right;
    padding-right: 30px;
}

#btns{
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    background-color: rgb(71, 70, 70);
    color: white;
}

button:active{
    scale: 0.85;
    transition-duration: .2s;
}

.light{
    background-color: lightgray;
    color:  black;
}

.orange{
    background-color: orange;
}