/* div{
    height: 30vh;
    width: 30vw;
    border: 1px solid black;
} */

/* #parent{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

#child{
    height: 50%;
    width: 50%;
    border: 1px solid gold;
} */

p{
    font-size: 4rem;
}