/* div{
    height: 300px;
    width: 300px;
    border: 1px solid black;
} */


/* div{
    height: 30vh;
    width: 30vw;
    border: 1px solid black;
} */

#parent{
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

#child{
    height: 50%;
    width: 50%;
    border: 1px solid gold;
}