div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
}

#static{
    position: static;
    top: 100px;
    left: 100px;
}

#relative{
    position: relative;
    bottom: 100px;
    left: 100px;
}

#absolute{
    position: absolute;
    top: 50px;
    left: 50px;
}

#fixed{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
}

#sticky{
    position: sticky;
    top: 100px;
}