#navbar{
    height: 80px;
    width: 100vw;
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0px;
    z-index: 99999;
}


#canvas{
    z-index: 1;
    position: relative;
    top: 80px;
    height: 70vh;
    border-bottom: 1px solid black;background-color: #ffc017;
}

#trending{
    margin-top: 100px;
    /* border: 1px solid black; */
    width: 80vw;
}